input:focus{
    outline: none !important;
    border-bottom:2px solid black;
    /*box-shadow: 0 0 10px #719ECE;*/
}

.box{
    width: 320px;
    border: 1px solid blue;
    margin: 0 auto;
    padding: 16px;
}

.bu-text{
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:2px solid black;
}
.bu-button {
  margin-top: 20px;
  height: 25px;
  background-color:red;
  text-align: center;
}
